<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datacollcet.dao.V2iDataMapper" >

    <insert id="insertData">
        INSERT INTO  v2i_records (
            recv_time,
            deviceNo,
            loc_longitude,
            loc_latitude,
            speed,
            direction,
            packageSize,
            packageIndex,
            packageName,
            isEndofPackage,
            PackageNum,
            frequency,
            send_time
        ) VALUE (FROM_UNIXTIME(#{data.recv_time}/1000),
                 #{data.deviceNo},
                 #{data.longitude},
                 #{data.latitude},
                 #{data.speed},
                 #{data.direction},
                 #{data.packageSize},
                 #{data.indexNum},
                 #{data.packageName},
                 #{data.isEndofPackage},
                 #{data.packageNum},
                 #{data.frequency},
                 FROM_UNIXTIME(#{data.timeNow}/1000)
        )
    </insert>

    <insert id="insertFingerprint">
        INSERT INTO fingerprints(
        id,
        rssi,
        xaxis,
        yaxis,
        rank,
        subarea
        ) VALUES (
          #{id},
          #{rssi},
          #{xaxis},
          #{yaxis},
          #{rank},
          #{subarea}
        )
    </insert>
    <select id="getFingerprint" resultType="com.datacollcet.pojo.FingerPrint">
        SELECT * FROM fingerprints
    </select>
    <select id="getRefinedFingerprint" resultType="com.datacollcet.pojo.MyFingerPrint">
        SELECT * FROM new_fingerprints where subarea != -1
    </select>
    <select id="getSubarea" resultType="com.datacollcet.pojo.Subarea">
        SELECT * FROM subarea
    </select>
    <select id="getPixelMap" resultType="com.datacollcet.pojo.PixelMap">
        SELECT * FROM pixelmap
    </select>
    <select id="getPosition" resultType="com.datacollcet.pojo.Position">
        SELECT * FROM testpositions
    </select>
    <select id="getGmap" resultType="com.datacollcet.pojo.GradientFP">
        SELECT * FROM gmap
    </select>
    <insert id="insertReadings">
        INSERT INTO readings(
        xReadings,
        yReadings,
        zReadings,
        orders
        ) VALUES (
          #{xReadings},
          #{yReadings},
          #{zReadings},
          #{orders}
        )
    </insert>
    <insert id="insertMapsense">
        INSERT INTO
    </insert>
    <insert id="insertNNFingerprint">
        INSERT INTO walkingfingerprints(
        RPID,
        SUBID,
        XAXIS,
        YAXIS,
        RSSI,
        MAG,
        CURTIME,
        MAC
        ) VALUES (
          #{rpid},
          #{subid},
          #{Xaxis},
          #{Yaxis},
          #{WiFiFeatures},
          #{magReading},
          #{timeStamp},
          #{MAC}
        )
    </insert>
    <insert id="insertOfflineData">
        INSERT INTO offline_data(
        RPID,
        SUBID,
        Xasix,
        Yaxis,
        RSSI,
        MAC,
        ) VALUES (
          #{rpid},
          #{subid},
          #{Xasix},
          #{Yasix},
          #{WiFiFeatures}
          #{MAC}
        )
    </insert>
    <insert id="insertMagReadings">
        INSERT INTO magreadings(
        id,
        reading
        ) VALUES (
          #{id},
          #{reading}
        )
    </insert>
    <insert id="insertPosition">
        INSERT INTO testpositions(
        mark,
        xaxis,
        yaxis,
        id,
        mac,
        direction
        ) VALUES (
          #{mark},
          #{xaxis},
          #{yaxis},
          #{id},
          #{mac},
          #{direction}
        )
    </insert>
    <insert id="insertMatchedTraj">
        INSERT INTO inferredpositions(
        mark,
        xaxis,
        yaxis,
        id,
        mac,
        direction
        ) VALUES (
          #{mark},
          #{xaxis},
          #{yaxis},
          #{id},
          #{mac},
          #{direction}
        )
    </insert>
    <insert id="insertNumbers">
        INSERT INTO recordnumbers(
        numberOrder,
        extractNumbers
        ) VALUES (
          #{order},
          #{extractedNumber}
        )
    </insert>
    <insert id="insertConvergence" parameterType="java.lang.Double">
        INSERT INTO convergences(
        convergence
        ) VALUES (
          #{convergence}
        )
    </insert>
    <update id="updateFingerprint" parameterType="com.datacollcet.pojo.Relative">
        UPDATE new_fingerprint SET rank = #{rank} WHERE id = #{id}
    </update>
    <insert id="insertStep">
      INSERT INTO steps(
      fpid,
      steps
        ) VALUES (
          #{fpid},
          #{steps}
        )
    </insert>
    <insert id="insertDrivingTraj">
        INSERT INTO driving_trajectory(
        TrajID,
        StartPoint,
        EndPoint,
        RSSI,
        direction,
        acceleration,
        gyro,
        curtime,
        devices
        ) VALUES (
          #{trajID},
          #{startX},
          #{startY},
          #{WiFiFeatures},
          #{orientReads},
          #{accReadings},
          #{gyroReadings},
          #{timeStamp},
          #{macAddr}
        )
    </insert>


</mapper>
<!--#{DATE_FORMAT(FROM_UNIXTIME(data.timeNow),'%Y-%m-%d %H:%i:%S')}-->